
#JSRootShell
{
border:5px solid gray;
border-radius: 5px;
height: 60%;
width: 99%;
overflow:auto;
text-align: center;
background:#DCDCDC;
}


.JSRootPrompt {
border-style:none;
background:#DCDCDC;
width: 100%;
text-align: center;
}


.JSRootPromptInput
{
border-style:   none;
background:#DCDCDC;
}

/* Used for debug */
/*table{
  border-style:solid;
border-color:#ff0000;
}

td{
  border-style:solid;
border-color:#0000ff;  
}*/