
#JSRootShell
{
border:5px solid gray;
border-radius: 5px;
height: 80%;
width: 90%;
overflow:auto;
text-align: left;
background:#DCDCDC;
position: absolute;
top:70px;
left: 5%;
}


.JSRootShellLogin
{
border:5px solid gray;
border-radius: 15px;
height: 60%;
width: 70%;
background:#FFFFFF;
opacity:0.9;
filter:alpha(opacity=40);
}


.JSRootLogo{
border:2px solid gray;
border-radius: 5px;
height: 36px;
width: 70px;  
position:relative;
right:-340px;
}

.JSRootPrompt {
border-style:none;
background:#DCDCDC;
width: 100%;
text-align: left;
}


.JSRootPromptInput
{
border-style:   none;
background:#DCDCDC;
width: 100%;
}


/* Used for debug */
/*table{
  border-style:solid;
border-color:#ff0000;
}

td{
  border-style:solid;
border-color:#0000ff;  
}*/