
#JSRootShell
{
border:5px solid gray;
border-radius: 5px;
height: 60%;
width: 70%;
overflow:auto;
text-align: left;
background:#DCDCDC;
position: absolute;
top:230px;
left: 15%;
}


.JSRootPrompt {
border-style:none;
background:#DCDCDC;
width: 100%;
text-align: left;
}


.JSRootPromptInput
{
border-style:   none;
background:#DCDCDC;
width: 100%;
}

/* Used for debug */
/*table{
  border-style:solid;
border-color:#ff0000;
}

td{
  border-style:solid;
border-color:#0000ff;  
}*/